<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D3 Tree Partition with CIELab Colors</title>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script> <!--画像保存用-->
<style>
    .arc text {
        font: 10px sans-serif;
        text-anchor: middle;
    }
    .arc path {
        stroke: #fff;
    }
    .tooltip {
        position: absolute;
        visibility: hidden;
        background: #fff;
        border: 1px solid #ccc;
        padding: 5px;
        font-size: 12px;
    }
    .dimmed {
        opacity: 0.4;
    }
</style>
</head>
<body>
    <div class="tooltip" style="opacity: 0;"></div>
    <div id="nodeCount">Nodes displayed: 0</div>
    <div id="overview" style="position: absolute; top: 10px; right: 10px; width: 250px; height: 250px; border: 1px solid #ccc;">
        <canvas id="overviewCanvas" width="250" height="250"></canvas>
    </div>
    <div id="pathDisplay">クリックノードのルートからのパス: </div> <!-- 追加：ルートノードからのパスを表示するdiv要素 -->
    <!-- 検索用div要素の追加 -->
    <div>
        <input type="text" id="searchInput" placeholder="学名を入力">
        <button onclick="searchAncestor()">検索</button>
    </div>
    
    <!-- 先祖リスト表示用div要素の追加 -->
    <div id="ancestorDisplay" style="position: absolute; left: 1px; right: 270px; bottom: 40px; padding: 10px;">先祖リスト: </div>
    <div id="ancestorMessage" style="position: absolute; left: 1px; right: 270px; bottom: 10px; padding: 10px;"></div>
    <script>
    // Set up D3 layout and arc
    var width = 700,
        height = 560,
        maxradius = Math.min(width, height) / 2;

    var overwidth = 250,
        overheight = 250,
        overmaxradius = Math.min(overwidth, overheight) / 2;
    
    var x = d3.scale.linear().range([0, 2 * Math.PI]);
    
    var y = d3.scale.linear().range([0, maxradius]);
    
    var partition = d3.layout.partition()
        .value(function(d) { return d.value; })  // Use the value attribute from the JSON data
        .sort(null);
    
    var arc = d3.svg.arc()
        .startAngle(function(d) { return Math.PI/2 - Math.max(0, Math.min(2 * Math.PI, x(d.x))); })
        .endAngle(function(d) { return Math.PI/2 - Math.max(0, Math.min(2 * Math.PI, x(d.x + d.dx))); })
        .innerRadius(function(d) { return Math.max(0, y(d.y)); })
        .outerRadius(function(d) { return Math.max(0, y(d.y + d.dy)); });
    
    var svg = d3.select("body").append("svg")
        .attr("id", "mainSvg")
        .attr("width", width)
        .attr("height", height)
        //.style("position", "absolute")
        //.style("top", "140px")
        .append("g")
        .attr("transform", "translate(" + (width / 2) + "," + (height / 2) + ")");

    // クリッピングパスを追加して、maxradius以上の領域が表示されないようにする
    svg.append("clipPath")
        .attr("id", "circleClip")
        .append("circle")
        .attr("r", maxradius);
    
    // `clip-path` 属性を適用して円形にクリッピング
    svg.attr("clip-path", "url(#circleClip)");
    
    var tooltip = d3.select("body").append("div").attr("class", "tooltip");
    // 太枠のスタイル
    const boldStrokeStyle = {
        "stroke": "black",
        "stroke-width": "2px",
        "fill-opacity": 1,
    };
    
    // サブツリー内のノードリスト
    let subtreeNodeNames = [];
    var overviewSvg;
    //var levels = 5;
    var maxdepth = 20;  //biotaだから
    // 基準
    var sizeCriterion = 12; // クリック可能なノード
    var labelCriterion = 30; // ラベルを表示するノード
    
    // Load the initial data using AJAX POST request
    fetch('/data', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        }
    })
    .then(response => response.json())
    .then(data => {
        var root = data.life;
        var leafNodes = data.leaf_nodes;
        drawChart(root);
    });

    function drawChart(root) {

        var nodes = partition.nodes(root);
        subtreeNodeNames = nodes.map(d => d.name);  // 表示されるサブツリー内のノード名を保存

        // Append image to the container
        d3.select("#overview").append("img")
            .attr("src", "/static/images/overview_biota.png")
            .attr("width", 250)
            .attr("height", 250)
            .style("position", "absolute")
            .style("top", "0px")
            .style("left", "0px");
    
        var overviewX = d3.scale.linear().range([0, 2 * Math.PI]);
        var overviewY = d3.scale.linear().range([0, overmaxradius * 5 / (maxdepth+1)]);

    
        var overviewArc = d3.svg.arc()
            .startAngle(function(d) { return Math.PI/2 - Math.max(0, Math.min(2 * Math.PI, overviewX(d.x))); })
            .endAngle(function(d) { return Math.PI/2 - Math.max(0, Math.min(2 * Math.PI, overviewX(d.x + d.dx))); })
            .innerRadius(function(d) { return Math.max(0, overviewY(d.y)); })
            .outerRadius(function(d) { return Math.max(0, overviewY(d.y + d.dy)); });

        // Create the SVG element on top of the canvas
        overviewSvg = d3.select("#overview").append("svg")
            .attr("width", overwidth)
            .attr("height", overheight)
            .style("position", "absolute")
            .style("top", "0px")
            .style("left", "0px")
            .append("g")
            .attr("transform", "translate(" + (overwidth / 2) + "," + (overheight / 2) + ")");
    
        // Initialize overviewSvg with initialNodes
        overviewSvg.selectAll("path")
            .data(nodes)
            .enter().append("path")
            .attr("d", overviewArc)
            .style("fill", function(d) {
                d.overviewColor = fillColor(d); // Save the original color
                return d.overviewColor;
            })
            //.style("stroke", "white")  // 縁の色を設定
            //.style("stroke-width", "1px")  // 縁の幅を設定
            .on("click", click);
    
        // 合体ノードには透明度を設定
        var path = svg.selectAll("path")
            .data(nodes)
            .enter().append("path")
            .attr("d", arc)
            .style("fill", fillColor)
            .style("opacity", function(d) {
                return d.is_merged ? 0.3 : 1;
            })
            .on("mouseover", mouseover)
            .on("mouseout", mouseout);

        // Non-clickable paths
        var nonClickablePaths = path.filter(function(d) {
            var r = y(d.y + d.dy / 2); // Average radius of the arc
            var theta = x(d.x + d.dx) - x(d.x); // Angle in radians
            return r * theta < sizeCriterion;
        });
    
        // Clickable paths
        var clickablePaths = path.filter(function(d) {
            return !nonClickablePaths.data().includes(d);
        });
    
        clickablePaths.on("click", click);
        
        // Initial label rendering
        var text = svg.selectAll("text")
                    .data(nodes.filter(function(d) {
                        var r = y(d.y + d.dy / 2); // Average radius of the arc
                        var theta = x(d.x + d.dx) - x(d.x); // Angle in radians
                        return r * theta >= labelCriterion;
                    }))
                    .enter().append("text")
                    .attr("transform", function(d) {
                        return "translate(" + arc.centroid(d) + ")";
                    })
                    .attr("text-anchor", "middle")
                    .attr("font-size", "10px")
                    .text(function(d) {
                        // 合体ノードなら合体数を表示
                        return d.is_merged ? d.merge_count : d.name;
                    });
    
        updateNodeCount(nodes);
    }

    var previousTopNode = null;
    var previousClickDepth = 0;
    var pathList = [];
    var previousStartAngle = 0; // 追加：前回の開始角度
    var previousEndAngle = 2 * Math.PI; // 追加：前回の終了角度

    function fillColor(d) {
        let distance = y(d.y);
        let angle = x(d.x);
        let [L, a, b] = polarToCIELab(distance, angle, maxradius);
        return LabToHex(L, a, b);
    }

    
    function click(d) {
    var startTime = performance.now();
    //var startAngle = x(d.x);
    //var endAngle = x(d.x + d.dx);
    //let initialColor = d3.select(this).style("fill");
    var clickedNodeParent = d.parent;
    console.log("Clicked Node", d.name);

    // クリックノードの真のルートノードからの深さを再帰的に求める
    function getNodeDepth(node, previousDepth) {
        if (d.depth === 0 && previousTopNode) {
            return previousDepth - 1;
        }
        if (!node.parent) {
            return previousDepth - 1;
        }
        return getNodeDepth(node.parent, previousDepth + 1);
    }
    var clicknodeDepth = getNodeDepth(d, previousClickDepth);

    function cubicBezierEase(t, p0, p1, p2, p3) {
        //return t ** 3 * p0 + 3 * t ** 2 * (1-t) * p1 + 3 * t * (1-t) ** 2 * p2 + (1-t) ** 3 * p3;
        return (1 - t) ** 3 * p0 + 3 * (1 - t) ** 2 * t * p1 + 3 * (1 - t) * t ** 2 * p2 + t ** 3 * p3;
    }

    if (d.depth === 0 && previousTopNode) {
        pathList.pop();
    } else {
        // クリックノードの祖先ノードを含む配列を作成
        pathList = getAncestors(d, pathList);
    }
    updatePathDisplay(); // パスを更新して画面に表示

    if (d.depth === 0 && previousTopNode) {
        fetch('/parentclick', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ name: d.name })
        })
        .then(response => response.json())
        .then(data => {
            var subtree = data.newtree;
            var parentNode = data.parent;
            

            svg.selectAll("path").remove();
            svg.selectAll("text").remove(); // ラベルをクリア

            var nodes = partition.nodes(subtree).filter(function(d) {
                return d.depth >= 0;
            });
            subtreeNodeNames = nodes.map(d => d.name);
            x = d3.scale.linear().range([0, 2 * Math.PI]);


            var path = svg.selectAll("path").data(nodes).enter().append("path")
                .attr("d", arc)
                .style("fill", fillColor)
                .style("opacity", function(d) {
                    return d.is_merged ? 0.3 : 1;
                })
                .on("mouseover", mouseover)
                .on("mouseout", mouseout);

            // Ensure the parent node is clickable
            var clickablePaths = path.filter(function(d) {
                var r = y(d.y + d.dy / 2);
                var theta = x(d.x + d.dx) - x(d.x);
                return r * theta >= sizeCriterion || d === clickedNodeParent; // クリックノードの親ノードはrが負の値のため
            });

            clickablePaths.on("click", click)
                .on("mouseover", mouseover)
                .on("mouseout", mouseout);

            let previousNode = nodes.find(n => n.name === previousTopNode.name);
            if (previousNode) {
                let n_x = previousNode.x;
                let n_dx = previousNode.dx;
                // Overview の設定
                var overstartAngle = (previousStartAngle*(n_x+n_dx) - previousEndAngle*n_x)/n_dx;
                var overendAngle = (previousStartAngle*(n_x+n_dx-1)-previousEndAngle*(n_x-1))/n_dx;

            previousStartAngle = overstartAngle; // 追加：前回の開始角度を保存
            previousEndAngle = overendAngle; // 追加：前回の終了角度を保存
            overviewX = d3.scale.linear().range([overstartAngle, overendAngle]);
            overviewY = d3.scale.linear().range([
                overmaxradius * clicknodeDepth / maxdepth,
                overmaxradius * (clicknodeDepth + 4 < maxdepth ? clicknodeDepth + 4 : maxdepth) / maxdepth
            ]);

            var overviewArc = d3.svg.arc()
                .startAngle(function(d) { return Math.PI/2 - Math.max(0, Math.min(2 * Math.PI, overviewX(d.x))); })
                .endAngle(function(d) { return Math.PI/2 - Math.max(0, Math.min(2 * Math.PI, overviewX(d.x + d.dx))); })
                .innerRadius(function(d) { return Math.max(0, overviewY(d.y)); })
                .outerRadius(function(d) { return Math.max(0, overviewY(d.y + d.dy)); });

            var overviewSvg = d3.select("#overview").select("svg").select("g");

            overviewSvg.selectAll("path").remove();

            overviewSvg.selectAll("path")
                .data(nodes)
                .enter().append("path")
                .attr("d", overviewArc)
                .style("fill", function(d) {
                    d.overviewColor = fillColor(d); // Save the original color
                    return d.overviewColor;
                })
                .on("click", click);

            svg.transition()
                .duration(3000)
                .tween("scale", function() {
                    let targetDepth = Math.min(d.y + 5 * d.dy, 1);
                    let //xd = d3.interpolate(x.domain(), [d.x, d.x + d.dx]),
                        xd = d3.interpolate([n_x, n_x + n_dx], [0, 1]),
                        yd = d3.interpolate(y.domain(), [d.y, 1]),
                        yr = d3.interpolate(y.range(), [d.y ? 20 : 0, maxradius]);
                    return function(t) {
                        //let adjustedT = t < 0.4 ? 2.5 * t : 1;
                        x.domain(xd(t));
                        y.domain(yd(t)).range(yr(t));
                    };
                })
                .selectAll("path").attrTween("d", function(d) { return function() { return arc(d); }; })
                .styleTween("fill", function(d) {
                    let initialColor = d3.select(this).style("fill");
                    //let targetColor = fillColor(d);
                    return function(t) {
                        return d3.interpolateLab(initialColor, fillColor(d))(t);
                    };
                })
                .each("end", function(e, i) {
                    if (i === 0) {
                        updateNodeCount(nodes);
                        // Show the new labels after the transition ends
                        svg.selectAll("text").remove(); // Clear any remaining labels
                        var text = svg.selectAll("text")
                            .data(nodes.filter(function(d) {
                                var r = y(d.y + d.dy / 2); // Average radius of the arc
                                var theta = x(d.x + d.dx) - x(d.x); // Angle in radians
                                return r * theta >= labelCriterion;
                            }))
                            .enter().append("text")
                            .attr("transform", function(d) {
                                return "translate(" + arc.centroid(d) + ")";
                            })
                            .attr("text-anchor", "middle")
                            .attr("font-size", "10px")
                            .text(function(d) {
                                // 合体ノードなら合体数を表示
                                return d.is_merged ? d.merge_count : d.name;
                            })
                            .style("visibility", function(d) {
                                return isNodeVisible(d, x.domain(), y.domain()) ? "visible" : "hidden";
                            });
                    }
                });
            previousTopNode = d;}

            if (parentNode) {
                console.log("panrentNode:", parentNode.name);
                parentNode.depth = 0;
                parentNode.x = 0;
                parentNode.dx = 1;
                parentNode.y = 0;
                parentNode.dy = 1;
                var parentY = d3.scale.linear().range([0, 20]);

                var parentPath = svg.append("path")
                    .datum(parentNode)
                    .attr("d", function(d) {
                        var arcParent = d3.svg.arc()
                            .startAngle(function(d) { return Math.PI / 2 - Math.max(0, Math.min(2 * Math.PI, x(d.x))); })
                            .endAngle(function(d) { return Math.PI / 2 - Math.max(0, Math.min(2 * Math.PI, x(d.x + d.dx))); })
                            .innerRadius(function(d) { return Math.max(0, parentY(d.y)); })
                            .outerRadius(function(d) { return Math.max(0, parentY(d.y + d.dy)); });
                        return arcParent(d);
                    })
                    .style("fill", "gray")
                    .style("opacity", 0.5) // 親ノードは不透明
                    .on("click", click)
                    .on("mouseover", mouseover)
                    .on("mouseout", mouseout);
            }

            updateNodeCount(nodes);
        });
    } else {
        // 動的に dispatch のステップを生成
        var depthSteps = [];
        var nodeStack = [];
        var currentNode = d;
        while (currentNode.depth > 1) {
            depthSteps.unshift(currentNode.name);
            nodeStack.unshift(currentNode);
            currentNode = currentNode.parent;
        }
        depthSteps.unshift(currentNode.name);  // ルートノードを最後に追加
        nodeStack.unshift(currentNode);  // ルートノードを最後に追加
        // ステップを持つ dispatch を生成
        //var dispatch = d3.dispatch.apply(null, depthSteps.map(name => `event.${name}`));
        var dispatch = d3.dispatch("step");

        // 各ステップに対してトランジション処理を設定
        let currentIndex = 0;
        const preClickDepth = previousClickDepth;
        
        dispatch.on("step", function(prevStartAngle, prevEndAngle) {
            if (currentIndex >= nodeStack.length) return; // すべてのノードが終了したら停止
        
            const currentNode = nodeStack[currentIndex];
            const nextNode = nodeStack[currentIndex + 1];
            const nextNodeName = nextNode ? nextNode.name : null;
        
            // performClickActionを呼び出し、次のステップの処理を設定
            performClickAction(currentNode, dispatch, "step", prevStartAngle, prevEndAngle, nextNodeName, preClickDepth);
        
            // インデックスを進める
            currentIndex += 1;
        });
        
        // 最初のステップを呼び出す
        dispatch.step();
    }

    
    function performClickAction(d, dispatch, stepName, prevStartAngle, prevEndAngle, nextNodeName, predepth) {
        var startTime = performance.now();
        // 前のステップの角度範囲を引き継ぐか、新しい範囲を設
        var startAngle = prevStartAngle !== undefined ? prevStartAngle : x(d.x);
        var endAngle = prevEndAngle !== undefined ? prevEndAngle : x(d.x + d.dx);
        var clickedNodeParent = d.parent;
        //var previousDepth = previousDepth !== undefined ? previousDepth : previousClickDepth;
        var nodeDepth1 = predepth + d.depth;
        // 現在の深さを保存して次回のクリック時に使用
        //previousDepth = nodeDepth;
        console.log("Clicked Node", d.name);
        //console.log("startAngle", startAngle);
        //console.log("endAngle", endAngle);
        
        // ノードに対するその他のクリック処理（描画の更新など）
        fetch('/subtree', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ name: d.name })
        })
        //.then(response => response.json())
        .then(response => {
            const contentLength = response.headers.get('content-length');
            //console.log(`Response size: ${contentLength} bytes`);  // 受信データのサイズを表示
            return response.json();
        })
        .then(data => {
            var subtree = data.newtree;
            var parentNode = data.parent;

            var endTime = performance.now();
            var timeTaken = endTime - startTime;
            //console.log(`Time taken: ${timeTaken.toFixed(2)} ms`);
            // クリック前の表示をキャンバスに保存
            var svgElement = document.querySelector("#mainSvg");
            /*
            var previousCanvas = document.querySelector("canvas");
            if (previousCanvas) {
                previousCanvas.remove();
            }*/
            // テキスト要素を一時的に削除
            var textElements = svgElement.querySelectorAll("text");
            textElements.forEach(function(text) {
                text.style.display = "none";
            });
            var canvas = document.createElement("canvas");
            canvas.width = svgElement.clientWidth;
            canvas.height = svgElement.clientHeight;
            var ctx = canvas.getContext("2d");
        
            var dataURL = "data:image/svg+xml;base64," + btoa(new XMLSerializer().serializeToString(svgElement));
            
            var img = new Image();
            img.onload = function() {
                ctx.drawImage(img, 0, 0);
                canvas.style.position = "absolute";
                canvas.style.top = svgElement.getBoundingClientRect().top + "px";
                canvas.style.left = svgElement.getBoundingClientRect().left + "px";
                canvas.style.opacity = 0.5;
                canvas.style.width = svgElement.clientWidth + "px";
                canvas.style.height = svgElement.clientHeight + "px";
                document.body.appendChild(canvas);
            }
            img.src = dataURL;

            svg.selectAll("path").remove();
            svg.selectAll("text").remove(); // ラベルをクリア

            x.range([startAngle, endAngle]);
            y.range([maxradius/5, maxradius*6/5]);
            //x.domain([0, 1]);
            var nodes =partition.nodes(subtree);

            var path = svg.selectAll("path").data(nodes).enter().append("path")
                .attr("d", arc)
                .style("fill", fillColor)
                .style("opacity", function(d) {
                    return d.is_merged ? 0.3 : 1;
                })
                .on("mouseover", mouseover)
                .on("mouseout", mouseout);

            // Ensure the parent node is clickable
            var clickablePaths = path.filter(function(d) {
                var r = y(d.y + d.dy / 2);
                var theta = x(d.x + d.dx) - x(d.x);
                return r * theta >= sizeCriterion || d === clickedNodeParent; // クリックノードの親ノードはrが負の値のため
            });

            clickablePaths.on("click", click)
                .on("mouseover", mouseover)
                .on("mouseout", mouseout);

            var overstartAngle = previousStartAngle + (previousEndAngle - previousStartAngle) * startAngle/(2*Math.PI);
            var overendAngle = previousStartAngle + (previousEndAngle - previousStartAngle) * endAngle/(2*Math.PI);

            previousStartAngle = overstartAngle; // 追加：前回の開始角度を保存
            previousEndAngle = overendAngle; // 追加：前回の終了角度を保存
            overviewX = d3.scale.linear().range([overstartAngle, overendAngle]);
            overviewY = d3.scale.linear().range([
                overmaxradius * nodeDepth1 / maxdepth,
                overmaxradius * (nodeDepth1 + 4 < maxdepth ? nodeDepth1 + 4 : maxdepth) / maxdepth
            ]);

            var overviewArc = d3.svg.arc()
                .startAngle(function(d) { return Math.PI/2 - Math.max(0, Math.min(2 * Math.PI, overviewX(d.x))); })
                .endAngle(function(d) { return Math.PI/2 - Math.max(0, Math.min(2 * Math.PI, overviewX(d.x + d.dx))); })
                .innerRadius(function(d) { return Math.max(0, overviewY(d.y)); })
                .outerRadius(function(d) { return Math.max(0, overviewY(d.y + d.dy)); });

            var overviewSvg = d3.select("#overview").select("svg").select("g");

            overviewSvg.selectAll("path").remove();

            overviewSvg.selectAll("path")
                .data(nodes)
                .enter().append("path")
                .attr("d", overviewArc)
                .style("fill", function(d) {
                    d.overviewColor = fillColor(d); // Save the original color
                    return d.overviewColor;
                })
                .on("click", click);

            previousTopNode = d;

            function easeInOut(t) {
                return t < 0.5
                    //? 4 * t * t * t
                    //? 8 * Math.pow(t, 4)
                    ? 32 * Math.pow(t, 6)
                    //: 1 - Math.pow(-2 * t + 2, 3) / 2;
                    //: 1 - Math.pow(-2 * t + 2, 4) / 2;
                    : 1 - Math.pow(-2 * t + 2, 6) / 2;
            }
            function cubicBezier(t, p0, p1, p2, p3) {
                const u = 1 - t;
                return 3 * u * u * t * p1 + 3 * u * t * t * p2 + t * t * t;
            }
            function sigmoidEase(t) {
                const k = 8; // スケール係数
                let sig = 1 / (1 + Math.exp(-k * (t - 0.5))); // シグモイド関数
                const maxSig = 1 / (1 + Math.exp(-k * 0.5))
                const minSig = 1 / (1 + Math.exp(-k * -0.5)); // sigmoid(-4) の値
                const maxSigx_4 = 1 / (1 + Math.exp(-k*4)); // sigmoid(4) の値
                //return (sig - minSig) / (maxSig - minSig); // [0, 1] にスケーリング
                return (maxSigx_4 / maxSig) * (sig - minSig) / (maxSig - minSig);
            }


            svg.transition()
            //.delay(3000)
            .duration(5000)
            //.ease("cubic-in-out")
            /*
            .ease(function(t) { // カスタムイージングを設定
                //return cubicBezierEase(t, 0, 0.58, 0.42, 1);
                return cubicBezierEase(t, 0, 0.25, 0.75, 1);
            })*/
            .tween("scale", function() {
                let xr = d3.interpolate(x.range(), [0, 2*Math.PI]),
                    yr = d3.interpolate(y.range(), [0, maxradius]);
                return function(t){
                    //let easedT = 1 / (1 + Math.exp(-8 * (t - 0.5))); // シグモイド関数
                    //let easedT = d3.easeCubicInOut(t); 
                    //let easedT = easeInOut(t);
                    //let easedT = cubicBezier(t, 0.0, 0.02, 0.98, 1.0)
                    let easedT = sigmoidEase(t); // ease-in-out に変換
                    x.range(xr(easedT));
                    y.range(yr(easedT));
                    canvas.style.opacity = 0.5 * (1 - easedT);
                };
                /*
                let xd = d3.interpolate(x.domain(), [d.x, d.x + d.dx]),
                    yd = d3.interpolate(y.domain(), [d.y, 1]),
                    yr = d3.interpolate(y.range(), [d.y ? 60 : 0, maxradius]);
                return function(t) {
                    x.domain(xd(t));
                    y.domain(yd(t)).range(yr(t));
                };*/
            }).selectAll("path").attrTween("d", function(d) { return function() { return arc(d); }; })
            .styleTween("fill", function(d) {
                let initialColor = d3.select(this).style("fill");
                return function(t) {
                    return d3.interpolateLab(initialColor, fillColor(d))(t);
                };
            }).each("end", function(e, i) {
                if (i === 0) {
                    updateNodeCount(nodes);
                    // Show the new labels after the transition ends
                    svg.selectAll("text").remove(); // Clear any remaining labels
                    var text = svg.selectAll("text")
                        .data(nodes.filter(function(d) {
                            var r = y(d.y + d.dy / 2);
                            var theta = x(d.x + d.dx) - x(d.x);
                            return r * theta >= labelCriterion;
                        }))
                        .enter().append("text")
                        .attr("transform", function(d) {
                            return "translate(" + arc.centroid(d) + ")";
                        })
                        .attr("text-anchor", "middle")
                        .attr("font-size", "10px")
                        .text(function(d) {
                            // 合体ノードなら合体数を表示
                            return d.is_merged ? d.merge_count : d.name;
                        })
                        .style("visibility", function(d) {
                            return isNodeVisible(d, x.domain(), y.domain()) ? "visible" : "hidden";
                        });
                    if (parentNode) {
                        parentNode.depth = 0;
                        parentNode.x = 0;
                        parentNode.dx = 1;
                        parentNode.y = 0;
                        parentNode.dy = 1;
                        var parentY = d3.scale.linear().range([0, 20]);
        
                        var parentPath = svg.append("path")
                            .datum(parentNode)
                            .attr("d", function(d) {
                                var arcParent = d3.svg.arc()
                                    .startAngle(function(d) { return Math.PI / 2 - Math.max(0, Math.min(2 * Math.PI, x(d.x))); })
                                    .endAngle(function(d) { return Math.PI / 2 - Math.max(0, Math.min(2 * Math.PI, x(d.x + d.dx))); })
                                    .innerRadius(function(d) { return Math.max(0, parentY(d.y)); })
                                    .outerRadius(function(d) { return Math.max(0, parentY(d.y + d.dy)); });
                                return arcParent(d);
                            })
                            .style("fill", "gray")
                            .style("opacity",0.5) // 親ノードは不透明
                            .on("click", click)
                            .on("mouseover", mouseover)
                            .on("mouseout", mouseout);
                    }
                    // トランジション終了後にキャンバスを削除
                    canvas.remove();
                    // 次のノードのstartAngleとendAngleを求める
                    var nextStartAngle, nextEndAngle;
                    if (nextNodeName) {
                        const nextNode = nodes.find(n => n.name === nextNodeName);
                        if (nextNode) {
                            nextStartAngle = x(nextNode.x);
                            nextEndAngle = x(nextNode.x + nextNode.dx);
                        }
                    }
    
                    // 次のステップ（固定のstepイベント）を呼び出し、次のstartAngleとendAngleを渡す
                    dispatch.step(nextStartAngle, nextEndAngle);
                    }
            });

            subtreeNodeNames = nodes.map(d => d.name);
            updateNodeCount(nodes);
            previousClickDepth = clicknodeDepth;
        })
        .catch(error => console.error("Error fetching subtree data:", error));
    }
}
    // ancestors のノードを強調表示
    function highlightAncestors(ancestors) {
        // すべてのノードの太枠スタイルをリセット
        svg.selectAll("path")
            .style("stroke", null)
            .style("stroke-width", null);
        // メッセージをクリア
        document.getElementById("ancestorMessage").innerText = "";
    
        // ancestors内かつサブツリー内のノードを太枠で強調
        let foundInSubtree = false;
        ancestors.forEach(name => {
            if (subtreeNodeNames.includes(name)) {
                svg.selectAll("path")
                    .filter(d => d.name === name)
                    .style("stroke", boldStrokeStyle.stroke)
                    .style("stroke-width", boldStrokeStyle["stroke-width"]);
                foundInSubtree = true;
            }
        });
    
        // ancestors のノードがサブツリー内にない場合、メッセージを表示
        if (!foundInSubtree) {
            document.getElementById("ancestorMessage").innerText = "先祖ノードはこのサブツリーにはありません";
        }
    }


    // 学名検索して先祖リストを取得する関数
    function searchAncestor() {
        const name = document.getElementById('searchInput').value;
        fetch('/ancestor', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ name: name })
        })
        .then(response => response.json())
        .then(data => {
            const ancestors = data.ancestors;
            document.getElementById('ancestorDisplay').innerText = "先祖リスト: " + ancestors.join(" -> ");
            
            // ancestors のノードを強調表示
            highlightAncestors(ancestors);
        })
        .catch(error => console.error("Error fetching ancestors:", error));
    }

    function updateNodeCount(nodes) {
        var visibleNodes = nodes.filter(function(d) {
            return isNodeVisible(d, x.domain(), y.domain());
        });
        d3.select("#nodeCount").text("Number of visible nodes: " + visibleNodes.length);
    }

    function isDescendantOrSelf(node, ancestor) {
        if (node === ancestor) return true;
        while (node.parent) {
            node = node.parent;
            if (node === ancestor) return true;
        }
        return false;
    }

    function getAncestors(node, path) {
        var ancestors = [];
        var current = node;  // nodeを直接更新しないようにするための変数
        while (current.parent.parent) {
            ancestors.unshift(current);
            current = current.parent;
        }
        // 前回のパスを基に、新しい祖先ノードを追加
        var updatedPath = path.concat(ancestors);
        return updatedPath;
    }

    function updatePathDisplay() {
    var pathDisplay = d3.select("#pathDisplay");
    pathDisplay.selectAll("div").remove();
    // パスを8個ずつのチャンクに分割して表示
        var chunkSize = 8;
        for (var i = 0; i < pathList.length; i += chunkSize) {
            var chunk = pathList.slice(i, i + chunkSize);
            pathDisplay.append("div")
                .data(chunk)
                .text(function() {
                    return chunk.map(function(d) { return d.name; }).join(" -> ");
                });
        }
    }

    function mouseover(d) {
        let nodeColor = d3.select(this).style("fill");
        let labColor = d3.lab(nodeColor);

        // Calculate r and theta
        var r = y(d.y + d.dy / 2); // Average radius of the arc
        //var ex = x(d.x + d.dx);
        //var sx = x(d.x);
        var theta = x(d.x + d.dx) - x(d.x); // Angle in radians
        var rTheta = r * theta;

        tooltip.style("visibility", "visible")
        .html(`Node: ${d.name}<br>Value: ${d.value}<br>${d.is_merged ? 'Merged count: ' + d.merge_count + '<br>' : ''}r: ${r.toFixed(2)}(${y(d.dy)}), θ: ${theta.toFixed(2)}<br>r * θ: ${rTheta.toFixed(2)}<br>Color (CIELab): ${labColor.toString()}`);
    
        if (rTheta >= sizeCriterion) {
            overviewSvg.selectAll("path")
            .filter(function(node) { return node.name === d.name; })
            .style("fill", "#ffffff");
        }
    }

    function mouseout(d) {
        tooltip.style("visibility", "hidden");

        // Restore the color of the corresponding node on the overview
        var r = y(d.y + d.dy / 2); // Average radius of the arc
        var theta = x(d.x + d.dx) - x(d.x); // Angle in radians
        var rTheta = r * theta;
        if (rTheta >= sizeCriterion) {
            overviewSvg.selectAll("path")
            .filter(function(node) { return node.name === d.name; })
            .style("fill", function(node) { return node.overviewColor; });
        }
    }

    svg.on("mousemove", function() {
        tooltip.style("top", (d3.event.pageY + 10) + "px")
               .style("left", (d3.event.pageX + 10) + "px");
    });
    
    function polarToCIELab(distance, angle, maxDistance) {
        let L = 100 * (1 - 3 * distance / (4 * maxDistance));
        let a = 160 * distance / maxDistance * Math.cos(angle);
        let b = 160 * distance / maxDistance * Math.sin(angle);
        return [L, a, b];
    }
    
    function LabToHex(L, a, b) {
        let labColor = d3.lab(L, a, b);
        let rgbColor = labColor.rgb();
        return rgbColor.toString();
    }
    
    function isNodeVisible(d, xDomain, yDomain) {
        return d.x >= xDomain[0] && (d.x + d.dx) <= xDomain[1] && d.y >= yDomain[0] && (d.y + d.dy) <= yDomain[1];
    }
    </script>
</body>
</html>